*
{
	margin : 0;
	padding : 0;
}

label span
{
    color: white;
    font-size: 35px;
}

header
{
	background-image : linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(user.jpg) ;
	height : 100%;
	width: 100%;
	background-position : center;
	background-size : cover;
}

h1
{
    font-family: inherit;
    color: floralwhite;
    font-size: 45px;
    padding-top: 20px;
    padding-left: 20px;

}

.row
{	
	background-size: 30px;
}

.homenav
{
    list-style-type: none;
    float: right ;
}

.homenav li
{
	margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
	margin-right: 10px;
    font-size: 25px;
    
}

.homenav li a:hover{
    color: dimgray;
    transition: all 0.2s ease-in;
}

.homenav li a.active
{
    color: dimgray;
    text-decoration: none;
    font-weight: bold;
    transition: hover;
}


.homenav li a 
{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    transition: hover;
}

