*
{
	margin : 0;
	padding : 0;
}

label span
{
    color: white;
    font-size: 35px;
}

header
{
	background-image : linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(login.jpg) ;
	height : 100vh;
	background-position : center;
	background-size : cover;
}

h1.welcome
{
    font-family: inherit;
    color: floralwhite;
    font-size: 45px;
    padding-top: 20px;
    padding-left: 20px;

}

.su:hover{
    background-color: dimgray;
}

.row
{
    margin: auto;
}

.homenav
{
    list-style-type: none;
    float: right ;
}

.homenav li
{
    margin-top: 20px;
    display: inline-block;
    margin-left: 10px;
    width: 100px;
    font-size: 25px;
    
}

.homenav li a:hover{
    color: dimgray;
    transition: all 0.2s ease-in;
}

.homenav li a.active
{
    color: dimgray;
    text-decoration: none;
    font-weight: bold;
    transition: hover;
}


.homenav li a 
{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    transition: hover;
}

form
{
	position: absolute;
	top:40%;
	left: 15%;
	width: 1000px;
	font-family: tohoma;
	font-color: white;
}

input[type=text] {
    width: 40%;
    overflow: hidden;
    padding: 15px 22px;
    margin: 10px 5px; 
	border: none;
	outline: none;
    border-bottom: 3px solid #f1f1f1;
    background: none;
	color: white;
    font-size: 20px;
}

.signup
{
    position: absolute;
	top:63%;
	left: 59%;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

.su
{
    position: absolute;
	top:63%;
	left: 65%;
    font-size: 20px;
    font-family: sans-serif;
    color: cadetblue;

}

#submit {
	width: 40%; 
    padding: 15px 22px;
    margin: 10px 5px;
	border-style: solid;
	border-color: white;
    border-radius: 7px;
    font-family: sans-serif;
    background: none;
    color: white;
    cursor: pointer;

}	


.psswd {
    width: 40%;
    overflow: hidden;
    padding: 15px 22px;
    margin: 10px 5px; 
	border: none;
	outline: none;
    border-bottom: 3px solid #f1f1f1;
    background: none;
    color: white;
    font-size: 20px;
 
}

.active
{
    color: dimgray;
}